aws.config
aws2.config
aws3.config
lib
bin
classes
target
pom.xml
pom.xml.asc
*.jar
checkouts
.classpath
.project
.settings
*.iml
.idea
.lein-failures
.lein-deps-sum
.lein-failures
.lein-repl-history
.nrepl-port
*.swp
upload.txt